body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

#info p {
    font-style: italic;
    color: blueviolet;
}

#info a {
    text-decoration: none;
    color: gold;
}

#lorem {
    font-size: 30px;
    color: red;
}